DJANGO_DEV_DB=db.sqlite3
DJANGO_LOG_LEVEL=INFO
DJANGO_APP_LOG_LEVEL=DEBUG

DJANGO_DEBUG=True
DJANGO_ALLOWED=*
DJANGO_SESSION=1209600
DJANGO_SECRET=xxxxxxxxxx
DJANGO_DATA_DIR=/data
DJANGO_STATIC_DIR=/data/static

DATABASE_NAME=name
DATABASE_USER=user
DATABASE_PASS=pass
DATABASE_HOST=host
DATABASE_PORT=3306

LDAP_USER=user
LDAP_PASS=pass
LDAP_HOST=ldaps://localhost
LDAP_STAFF_CN=""
LDAP_SUPER_CN=""
