DJANGO_DEV_DB=db.sqlite3
DJANGO_LOG_LEVEL=INFO
DJANGO_APP_LOG_LEVEL=DEBUG

DJANGO_DEBUG=True
DJANGO_ALLOWED=*
DJANGO_SESSION=1209600
DJANGO_SECRET=xxxxxxxxxx
DJANGO_DATA_DIR=/data
DJANGO_STATIC_DIR=/data/static

DATABASE_NAME=name
DATABASE_USER=user
DATABASE_PASS=xxxxxxxxxx
DATABASE_HOST=localhost
DATABASE_PORT=3306

LDAP_USER=BindUserName
LDAP_PASS=xxxxxxxxxx
LDAP_HOST=ldaps://bigfish.lan
LDAP_STAFF_CN="CN=release-team,OU=External Distribution Groups,OU=Distribution Groups,DC=bigfish,DC=lan"
LDAP_SUPER_CN="CN=release-team,OU=External Distribution Groups,OU=Distribution Groups,DC=bigfish,DC=lan"

API_CREATE_ALLOWED=['release-team', 'operations']
