
#login-outer {
    background: rgba(255,255,255,0.8);
    width: 340px;
    margin: 20px auto;
    padding: 10px 30px;
}
#login-logo {
    padding-top: 10px;
}
#login-button {
    margin-right: 20px;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}
.modal-open {
    /* Fix content left-shift during modal open - I have no idea why this is happening */
    padding-right: 0 !important;
}
