
/* Always show right scroll bar */
html {
    overflow-y:scroll;
}

/* Used to position the navbar icon */
.navbar-brand {
    padding: 5px 5px 5px 15px;
}

/* Back to Top */
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    right: 5px;
    display:none;
}

/* Navbar Profile Image */
.profile-img{
    margin-top: 8px;
    margin-right: -10px;
    margin-left: 10px;
    width: 34px;
    height: 34px;
    border:1px solid #808080;
}
