{% extends "main.html" %}
{% load staticfiles %}
{% load home_tags %}
{% block home_active %}active{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block head %}{% endblock %}
{% block tail %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col mb-2">
            <h1>Self Service Dashboard</h1>
            {% if not tools %}

                <p class="lead">No tools have been added yet. You should try importing them from the fixtures
                    or adding some from the admin panel..</p>

            {% else %}

                <div class="row">
                    {% for tool in tools %}
                    {% if tool.active %}
                        <div class="col-sm-4 col-lg-3 mt-2 d-flex align-items-stretch">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{% url 'home:tool' name=tool.name %}">{{ tool.name }}</a> </h5>
                                    <p class="card-text">{{ tool.description }}</p>
                                </div>
                                <div class="card-footer">
                                    {% if tool.git_url %}
                                    <a href="{{ tool.url }}" class="btn btn-outline-primary my-1" target="_blank">View
                                        <i class="fa fa-globe" aria-hidden="true"></i></a>
                                    {% endif %}
                                    {% if tool.git_url %}
                                    <a href="{{ tool.git_url }}" class="btn btn-outline-primary my-1" target="_blank"> GitHub
                                        <i class="fa fa-github" aria-hidden="true"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>

            {% endif %}
        </div>
    </div>

{% endblock %}
